body {
  background-color: white;
  margin: 0px;
}

.container1 {
  position: relative;
}

.container1 img {
  max-width: 100%;
  height: auto;

}

.in-barbell-txt {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  font-size: 600%;
  color: white;
  width: 100%;
}

.titletxt {
  color: black;
  font-family: Arial, Georgia, serif;
  font-style: italic;
  font-size: 50px;
  margin: 0px 200px;
  text-align: center;
}

.bodytxt {
  color: black;
  text-align: center;
  font-size: 40px;
  margin: 0px 200px;
  margin-bottom: 10%;
}

.containerimgrow {
  background-color: rgb(189, 189, 189);
  position: relative;
}

.row {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.col {
  flex: 50%;
}

.col h2 {
  font: bold 70px "Century Schoolbook", Georgia, Times, serif;
  color: black;
  line-height: 90%;
  margin: .2em 0 .4em 0;
  letter-spacing: -2px;

}

.col p {
  color: black;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 14pt;
	font-variant: small-caps;
}

.col img {
  height: auto;
  max-width: 100%;
}

.questions {
  font: bold 70px "Century Schoolbook", Georgia, Times, serif;
 	color: #333;
 	letter-spacing: -2px;
  text-align: center;
}

.container-contact {
  margin-top: 50px;
}
