body {
  background-color: white;
  margin: 0px;
}

h1, h2, p {
  margin: 0;
}

.header {
  top: 0px;
  z-index: 3;
  display: flex;
  position: sticky;
  padding: 30px 70px;
  transform: translate3d(0, 0, 0);
  justify-content: space-between;
  background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);
}

.container1 {
  position: relative;
}

.container1 img {
  max-width: 100%;
  height: auto;

}

.in-barbell-txt {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  font-size: 600%;
  color: white;
  width: 100%;
}

.offer-container {
   position: relative;
   background-image: url('../img/barbell3.jpg');
   background-size: cover;
   height: 100%;
   padding-bottom: 10%;
}

.offer-container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.55);
}

.titletxt {
  position: relative;
  color: white;
  font-family: Arial, Georgia, serif;
  font-style: italic;
  font-size: 50px;
  margin: 0px 400px;
  text-align: center;
}

.bodytxt {
  position: relative;
  color: white;
  text-align: center;
  font-size: 40px;
  margin: 0px 400px;
}

.containerimgrow {
  background-color: rgb(110, 109, 109);
  position: relative;
}

.row {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.col {
  flex: 50%;
}

.col h2 {
  font: bold 70px "Century Schoolbook", Georgia, Times, serif;
  color: white;
  line-height: 90%;
  margin: .2em 0 .4em 0;
  letter-spacing: -2px;

}

.col p {
  color: #e4e5ec;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	margin: 40px 90px;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 18pt;
	font-variant: small-caps;
}

.col img {
  height: auto;
  max-width: 100%;
}

#grip {
  filter: brightness(200%);
}

.container-contact {
  background-color: white;
}
.questions {
  font: bold 70px "Century Schoolbook", Georgia, Times, serif;
 	color: black;
 	letter-spacing: -2px;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 50px;
}

.contact-us {
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #5A2FF9;
  width: 40%;
  margin: auto;
  align-items: center;
}

.contact-us i {
  position: absolute;
  padding-top: 1%;
  padding-left: 2%;
  font-size: 30px;
}

.fname {
  margin-top: 6%;
  width: 90%;
  margin-bottom: 3%;

}

.lname {
  width: 90%;
  margin-bottom: 3%;
}

.email {
  width: 90%;
  margin-bottom: 3%;
}

.subject {
  width: 91.5%;


}

.sub {
  width: 30%;
  height: 20%;
  padding-top: 3%;
  padding-bottom: 4%;
}
input[type=text] {
  font-size: 40px;
  height: 40px;
  width: 100%;
}


input[type=email] {
  font-size: 40px;
  height: 40px;
  width: 100%;
}

textarea {
  font-size: 40px;
  padding: 0;
  border: 1px solid #ccc;
  width: 100%;
}

input[type=submit] {
  width: 100%;
  height: 60px;
  background-color: yellow;
  color: rgb(59, 59, 59);
  padding: 14px 20px;
  font-size: 30px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
