html{
  scroll-behavior: smooth;
}

nav {
  margin: 0;
  top: 0;
  padding: 10px 25px;
  justify-content: space-between;
  position: sticky;
  background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);
  font-size: x-large;
  font-family: "Monument Extended", Arial, Helvetica, sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

.navbar li {
  padding: 0 15px;
  display: inline-block;
}

.navbar li a {
  color: #fff;
  transition: all .5s ease 0s;
}

.navbar li a:hover {
  color: #004c74;
}

.terms:hover {
  color: #fff;
  transition: all .5s ease 0s;
}
.signin{
  color:#fff;
}
.signin:hover {
  color: green;
  font-size:x-large;
  transition: all .5s ease 0s;
}
form {
  margin: 55px 0 300px 200px;
}

h1 {
  padding: 15px;
  margin-left: 300px;
  color: #f1f1f1;
}

img {
  width:100%;
}

a,
p {
  color: grey;
  margin: 20px 0;
}

body {
  margin: 0;
  font-family: Arial;
  background-color: #0b0b0d;
  font-family: 'Kaushan Script', cursive;
}

input {
  width: 50%;
  padding: 10px;
  margin: 20px 0;
  background: #0b0b0d;
  border-bottom-color: #f1f1f1;
  border-width: 0 0 3px 0;
  color: grey;
  font-size: 16px;
}

/* Set a style for all buttons */
button {
  background-color: green;
  color: #f1f1f1;
  padding: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  opacity: 0.5;
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
}

input:hover {
  border-radius: 100px;
  background-color: #474a56;
  transition: all 5s ease 0s;
}

button:hover {
  opacity: 5;
  animation: shake 1.2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Add padding to container elements */
.container {
  padding: 25px;
}
